* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.head {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 100px;
}

.container {
  padding: 40px;
  width: 500px;
  background-color: rgba(253, 0, 0, 0.924);
  border-radius: 20px 0 20px 0;
}

.task-box {
  background-color: lightsalmon;
  border-radius: 10px;
}

.heading {
  font-size: 24px;
  text-align: center;
}

.sub-box {
  display: flex;
  justify-content: space-around;
  gap: 2px;
  padding: 5px;
}

.task {
  flex-grow: 1;
  font-size: 25px;
  height: 30px;
  border: 0;
  border-radius: 20px;
  padding-left: 10px;
}
.add-button {
  width: 35px;
  height: 35px;
  background-color: rgb(170, 251, 164);
  border: 0;
  border-radius: 50%;
  box-shadow: 2px 1px 2px 1px rgba(0, 0, 0, 0.555);
}
